<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">大家风帆 We Sailing</h1>
      <p class="slogan">大家风帆 是一个招募水手的网站。
        <br>
        我们的征程是星辰大海
        <br>
        从ZERO 到 HERO, 圆你一个环球梦
      </p>
      <p class="lead">
        <%= link_to '马上上船', jobs_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">无论你是一个菜鸟,还是一个经验丰富的水手</h2>
        <p class="lead">在这里总能找到你想上的船</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">只需要你有一颗热爱帆船的心</h2>
        <p class="lead">就可以开始征程  <a target="_blank" href="https://zh.wikipedia.org/wiki/ONE_PIECE">ONE PIECE</a>! 伟大的航路</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">比赛水手招募<br>环球航行组队</h2>
        <p class="lead">总有一款适合你<a target="_blank" href="https://www.findacrew.net/en/">全球水手招募</a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
